.gameBtn{



    
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 40px;
    border-style: none;
    height: 10vh;
    width: 20vh;
    
    font-size: 18px;

    background-color: rgb(255, 255, 255);
    color:rgb(20, 100, 133);
    transition: 1.2s;


    
}

.gameBtn:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(52, 142, 184);
    border-radius: 6px;
}



.guessWords{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}



.guessWords span{



    

    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 68px;
    background-color: rgb(45, 63, 63);
    margin: 4px;
    height: 90px;
    width: 98px;
    text-transform: uppercase;


    border-radius: 6px;

    transition: 1.2s;





}

.guessWords span:hover{
    background-color: rgb(58, 97, 97);
    box-shadow: 0 0 10px rgb(58, 97, 97), 0 0 40px rgb(58, 97, 97), 0 0 80px rgb(58, 97, 97);

}

.entryLetters{
    margin: 40px;



}



.entryLetters input{



    text-align: center;
    height: 48px;
    width: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    background-color: rgb(126, 139, 148);
    border-style: none;
    border-radius: 4px;
}



.entryLetters input:focus{
    outline: none;



}

.entryLetters label{
    font-size: 20px;
    margin-right: 20px;
    color: rgb(216, 215, 215);

}

.tips{
    color:rgb(92, 120, 182);



}

.points{
    color:rgb(48, 226, 173);



}